{% extends "layout.html" %}


{% block title %}
    Homepage
{% endblock %}


{% block main %}
    <div class="mx-auto" style="max-width: 600px;">
        {% if recent %}
        <h3 class="mb-4">Recently added songs:</h3>
            <div class="list-group">
                {% for song in recent %}
                    <div>
                        <a href="/song/{{ song.id }}" class="list-group-item list-group-item-action">
                            <strong>{{ song.name }}</strong> by {{ song.artist }}
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% else %}
        <div class="alert alert-info text-center">
            No tabs currently exist at all... :( Make one <a href="/create" class="alert-link">here</a>!
        </div>
        {% endif %}
    </div>
{% endblock %}

