{% extends "layout.html" %}


{% block title %}
    {{ song.name }}
{% endblock %}


{% block main %}
    <div class="mx-auto" style="max-width: 800px;">
        <h1 class="mb-2">{{ song.name }}</h1>
        <h3 class="text-muted mb-3">by {{ song.artist }}</h3>
        <h6 class="text-secondary mb-4">Author: {{ song.username }}</h6>

        <form action="/favorite/add/{{ song.id }}" method="post" class="mb-4">
            <button class="btn btn-outline-danger" type="submit">
                <svg width="20" height="20" fill="currentColor">
                    <path d="M2.61 9.7A4.7 4.7 0 0 1 1.5 6.646C1.5 4.08 3.515 2 6 2c1.741 0 3.252 1.021 4 2.515C10.748 3.021 12.258 2 14 2c2.485 0 4.5 2.08 4.5 4.645 0 1.17-.419 2.24-1.11 3.056C14.995 12.527 10 18 10 18s-4.997-5.473-7.39-8.3">
                    </path>
                </svg>
                {% if is_favorited %}
                    Unfavorite
                {% else %}
                    Favorite
                {% endif %}
            </button>
        </form>

    <pre class="tab-content">{{ song.content }}</pre>
        <footer class="mt-4">
            <a href="/search" class="btn btn-secondary">Back to search</a>
        </footer>
    </div>
{% endblock %}
